*

!*/

!*.cpp
!*.hpp
!*.c
!*.h
!*.y
!*.lx
!*.a
!*.sy
!*.in
!*.out
!CMakeLists.txt
!Makefile
!LICENSE
!*.md
!*.typ
!*.pdf
!*.zip
!.clangd

.git/
.vscode/
.cache/
build/
bin/
*.o
compiler2025/
compiler2026/